.counter {
    border: 2px solid rgb(37, 27, 27);
    padding: 10px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    padding: 10px;
    font-size: 26px;
}